[submodule "HardlyKnowHer"]
	path = HardlyKnowHer
	url = https://github.com/mkane848/HardlyKnowHer
[submodule "DrWhoCompanionEDH"]
	path = DrWhoCompanionEDH
	url = https://github.com/mkane848/DrWhoCompanionEDH
